
/* Ponto de interrupção */

@media (max-width: 800px){
    .deck{
        width: 550px!important;
        min-height: 300px!important;
    }
    .deck .card {
        height: 90px!important;
        width: 90px!important;
        margin: 4px;
    }
    .score-panel {
        width: 400px!important;
        font-size: 8px!important;   
    }
    #title-pagina{
        font-size: 40px!important;
    }

     .deck .card.show {
    font-size: 60px!important;
    }
}

@media (max-width: 700px){
    .deck{
        width: 485px!important;
        min-height: 300px!important;
    }
    .deck .card {
        height: 90px!important;
        width: 92px!important;
    }
    .score-panel {
        width: 315px!important;
        font-size: 9px!important;   
    }
    #title-pagina{
        font-size: 30px!important;
    }

     .deck .card.show {
    font-size: 45px!important;
    }
    
    #span-vitorias{
        font-size: 13px;
     }
    
    .score-panel .restart{
        font-size: 13px;
     }
}

@media (max-width: 520px){
    .deck{
        width: 422px!important;
        min-height: 300px!important;
    }
    .deck .card {
        height: 100px!important;
        width: 80px!important;
        margin: 4px;
    }
    .score-panel {
        width: 250px!important;
        font-size: 9px!important;   
    }
    #title-pagina{
        font-size: 31px!important;
    }
    .moves{
        font-size: 35px!important;
    }

    .deck .card.show {
    font-size: 42px!important;
    }

    #span-vitorias{
        font-size: 10px;
    }
    
    .score-panel .restart{
        font-size: 10px;
    }
}

@media (max-width: 360px){
    .deck{
        width: 350px!important ;
        min-height: 300px!important ;
    }
    .deck .card {
        height: 78px!important ;
        width: 63px!important ;
        margin: 1%;
    }
    .score-panel {
        width: 250px!important ;
        font-size: 9px!important ;   
    }
    #title-pagina{
        font-size: 31px!important ;
    }
    
    .moves{
        font-size: 28px!important ;
    }

    .deck .card.show {
    font-size: 40px!important;
    }
     #span-vitorias{
        font-size: 7px;
     }
    
    .score-panel .restart{
        font-size: 7px!important;
     }

}

@media (max-width: 322px){
    .deck{
        width: 310px!important ;
        min-height: 400px!important ;
    }
    .deck .card {
        height: 74px!important ;
        width: 55px!important ;
    }
    .score-panel {
        width: 230px!important ;
        font-size: 9px!important ;   
    }
    #title-pagina{
        font-size: 25px!important ;
    }
    
    .moves{
        font-size: 28px!important ;
    }

    .deck .card.show {
    font-size: 40px!important;
    }
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}
