
.w3-modal-content{

} 

@media (max-width: 800px){
    .deck{
        width: 550px!important;
        min-height: 300px!important;
    }
    .deck .card {
        height: 90px!important;
        width: 90px!important;
        margin: 4px;
    }
    .score-panel {
        width: 400px!important;
        font-size: 8px!important;   
    }
    #title-jogo{
        font-size: 30px!important;
    }

     .deck .card.show {
    font-size: 60px!important;
}
}

@media (max-width: 700px){
    .deck{
        width: 485px!important;
        min-height: 300px!important;
    }
    .deck .card {
        height: 90px!important;
        width: 92px!important;
    }
    .score-panel {
        width: 315px!important;
        font-size: 9px!important;   
    }
    #title-jogo{
        font-size: 30px!important;
    }

     .deck .card.show {
    font-size: 45px!important;
    }
    
    #span-vitorias{
        font-size: 13px;
     }
    
    .score-panel .restart{
        font-size: 13px;
     }

}

@media (max-width: 520px){
    .deck{
        width: 422px!important;
        min-height: 300px!important;
    }
    .deck .card {
        height: 100px!important;
        width: 80px!important;
        margin: 4px;
    }
    .score-panel {
        width: 250px!important;
        font-size: 9px!important;   
    }
    #title-jogo{
        font-size: 31px!important;
    }
    .moves{
        font-size: 35px!important;
    }

    .deck .card.show {
    font-size: 42px!important;
    }

    #span-vitorias{
        font-size: 10px;
    }
    
    .score-panel .restart{
        font-size: 10px;
    }
}

@media (max-width: 360px){
    .deck{
        width: 350px!important ;
        min-height: 300px!important ;
    }
    .deck .card {
        height: 78px!important ;
        width: 63px!important ;
        margin: 1%;
    }
    .score-panel {
        width: 250px!important ;
        font-size: 9px!important ;   
    }
    #title-jogo{
        font-size: 31px!important ;
    }
    
    .moves{
        font-size: 28px!important ;
    }

    .deck .card.show {
    font-size: 40px!important;
    }
     #span-vitorias{
        font-size: 7px;
     }
    
    .score-panel .restart{
        font-size: 7px!important;
     }

}

@media (max-width: 322px){
    .deck{
        width: 310px!important ;
        min-height: 400px!important ;
    }
    .deck .card {
        height: 74px!important ;
        width: 55px!important ;
    }
    .score-panel {
        width: 230px!important ;
        font-size: 9px!important ;   
    }
    #title-jogo{
        font-size: 25px!important ;
    }
    
    .moves{
        font-size: 28px!important ;
    }

    .deck .card.show {
    font-size: 40px!important;
}

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); 
    font-family: Coda, cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: 300;
}

.deck {
    width: 685px;
    min-height: 720px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}


.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 50px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

span{
    position: relative;
    text-align: right;
}
.score-panel {
    text-align: left;
    width: 420px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

/*#winning-stars .stars{
    margin: 0;
    padding: 0;
    display: inline-block!important;
    margin: 0 5px 0 0;

}*/

.score-panel .stars li {
    list-style: none;
    display: inline-block;

}


.score-panel .restart {
    width: 30%;
    float: right;
    cursor: pointer;
}

.correto{

    border-radius: 30px; 

}

.styled:hover {
    background-color: rgba(300, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#seta-restart{
    font-size: 25px;
}

.moves{
    font-size: 40px;
    font-family: 'Nanum Brush Script', cursive;
}

.titulo-movimentos{
    font-size: 40px;
    font-family: 'Merienda', cursive;

}

.img-erro{
    width: 125px;
    height: 125px;
    padding: 17px;
}

.w3-btn, .w3-button{
    font-size: 24px!important;
    float: inherit;

}

header h2{
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
    text-align: center;
}

#span-vitorias{
    font-size: 19px;
    position: relative;
    right: 8%;
    padding: 1.6%;
    border: 2px solid;
    color: white;
    background-color: grey;
    font-family: 'Black Ops One', cursive;
    float: right;
}

.qnt_vitorias{
    width: 6.0%;
    border: 4px solid grey;
    font-size: 22px;
    text-align: center;
}

.sessao-modal {
    font-size: 25px;
    font-family: 'Archivo', sans-serif;
    text-align: center;
    /*font-family: 'Permanent Marker', cursive;*/
}

.button-inicial{
    text-align: center!important;
}

.w3-white{
    text-align: center!important;
    margin-bottom: 10px;
}

.sessao-vencedor{

    font-family: 'Black Ops One', cursive;
    text-align: center!important;

}

.w3-blue .w3-border{
    text-align: center!important;

}

#tempo-decorrente{
    vertical-align: inherit!important;
}

.w3-table-all{
    font-family: 'Black Ops One', cursive!important;

}

#winning-stars .stars li{
    
    list-style-type: none!important;
    margin:auto!important;
    float:none!important;
    display: block!important;
    display: inline-block!important;
    margin: 0 5px 0 0!important;


}

#timer{
    font-size: 20px;
}
